fieldset
{
    padding: 0.8em;
    margin: 0.4em;
}

fieldset dd
{
  margin : 0;
  padding:2px;
  position: relative;
  top: -1.7em;
  margin-bottom: -1em;
  left: 15em;
}

fieldset dt
{
  width: 15em;
  position: relative;
}

fieldset dt .dtsemdd {
  width: 100% !important;
}