/*
  # Copyright 2010 - Prefeitura Municipal de Fortaleza
  #
  # Este arquivo é parte do programa xsdform-js
  #
  # O xsdform-js é um software livre; você pode redistribui-lo e/ou
  # modifica-lo dentro dos termos da Licença Pública Geral GNU como
  # publicada pela Fundação do Software Livre (FSF); na versão 2 da
  # Licença.
  #
  # Este programa é distribuido na esperança que possa ser util, mas SEM
  # NENHUMA GARANTIA; sem uma garantia implicita de ADEQUAÇÂO a qualquer
  # MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU
  # para maiores detalhes.
  #
  # Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o
  # título "LICENCA.txt", junto com este programa, se não, escreva para a
  # Fundação do Software Livre(FSF) Inc., 51 Franklin St, Fifth Floor,
*/

fieldset {
    padding-bottom: 0.8em;
    padding-left: 0px;
    border: 0;
}

fieldset legend {
    font-weight: bold;
    border-bottom: 1px solid black;
}    

fieldset dl dd {
    width: 30em;
    margin : 0;
    padding:2px;
    position: relative;
    top: -1.7em;
    margin-bottom: -1em;
    left: 15em;
}

fieldset dl dt {
    width: 15em;
    position: relative;
}

fieldset dl dd input,
fieldset dl dd textarea,    
fieldset dl dd select {
    width: 100%;
    position: relative;
}

.dtsemdd {
    width: 30em; !important;
}

.xsd__validationfailed {
    background-color: red;
}